
body {
    background-color: #000000;
}


h2 {
    color: #ffffff;
    text-align: left;
    font-family: 'Covered By Your Grace', cursive;
    font-size: 45px;
}

p {
    font-family: 'Covered By Your Grace', cursive;
    color: #ffffff;
    font-size: 25px;
    
}

a {
    color:white;
    font-family: 'Covered By Your Grace', cursive;
    
}
